@page
@{
}

<form asp-method="post" asp-action="result">

    <p>First Name</p>
    <input type="text" name="_firstName" />

    <p>Last Name</p>
    <input type="text" name="_lastName" />

    <input type="submit" />

</form>